/* You can add global styles to this file, and also import other style files */
.blog-list article {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;

}

.user-blog-post {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.tab-actions {
  margin-bottom: 30px;
}

.page-title {
  margin-bottom: 30px;
}

.load-more {
  background-color: #eeeeee;
  display: inline-block;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;
}

.is-loading {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.search-block {
  padding: 10px;
}

.search-block .dropdown-menu {

  width: 100%;
}
.search-block .dropdown-menu li{
  padding: 3px 5px;
  cursor: pointer;

}
