<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">My Blog</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">My account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngIf="loggedIn"><a routerLink="/user/my-account">My profile</a></li>
              <li *ngIf="loggedIn"><a (click)="logout()">Logout
                <small *ngIf="user.email">{{user.email}}</small>
              </a></li>
              <li *ngIf="!loggedIn"><a routerLink="/user/login">Login</a></li>
              <li *ngIf="!loggedIn"><a routerLink="/user/register">Create an account</a></li>
              <li *ngIf="loggedIn"><a routerLink="/blog-add">Create blog post</a></li>

            </ul>
          </li>
        </ul>

        <div class="nav navbar-nav navbar-right">
            <div class="search-block">
              <input #searchTextBox (keyup)="onKeyup(searchTextBox.value)" class="form-control" name="search" placeholder="Search...">
              <div class="dropdown" [class.open]="!autocompleteBox.hide">

                <ul *ngIf="posts.length" class="dropdown-menu">
                  <li (click)="showDetail(post)" *ngFor="let post of posts">
                    {{post.title}}
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="page-title">

    <router-outlet></router-outlet>
  </div>
